* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

    font-family: 'Archivo', sans-serif;
}

:root {
    --brand-color: #7CA2F4;
    --dark-10: #121214;
    --dark-20: #F3F7FF;
    --dark-30: #FFFFFF;
}

/* HEADER */

header #frete {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 19px 0px;

    background: var(--dark-20);
}

header #frete p {
    color: var(--dark-10);

    font-size: 18px;
    font-weight: 500;
}

header .container {
    height: 400px;
    background: linear-gradient(0deg, rgba(18, 18, 20, 0.20) 0%, rgba(18, 18, 20, 0.20) 100%), url(./assets/images/jordan-background.png), lightgray 0px -77px / 100% 269.011% no-repeat;

    position: relative;
}

header .container #slogan {
    display: flex;
    flex-direction: column;
    gap: 40px;

    position: absolute;
    left: 280px;
    top: 94px;

    color: var(--dark-30);

    width: 26.5%;
}

header .container #logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

header .container #logo img {
    width: 42px;
    height: 42px;
}

header .container #logo h1 {
    font-size: 24px;
    font-weight: 500;
}

header .container #descricao {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

header .container #descricao h2 {
    font-size: 32px;
}

header .container #descricao p {
    font-weight: 400;
    line-height: 140%;
}

/* MAIN */

main {
    display: flex;
    flex-direction: column;
    padding: 80px 0px;
    gap: 72px;
    align-items: center;

    width: 80%;
    margin: auto;
}

main #main-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;

    width: 42%;
}

main #main-header h2 {
    font-size: 24px;
    color: var(--dark-10);
    font-weight: 600;
}

main #main-header p {
    font-size: 18px;
    color: var(--dark-10);
    font-weight: 400;
    text-align: center;
}

main #items {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    gap: 40px 32px;
}

main #items .product {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

main .product .image {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 320px;
    height: 200px;

    background: var(--dark-20);
    transition: transform .5s;

    cursor: pointer;
}

main .product .image:hover {
    transform: scale(1.1);
}

main .product .detalhes .titulo {
    font-size: 14px;
}

main .product .detalhes .modelo {
    color: var(--brand-color);
    font-size: 12px;
    font-weight: 500;
}

main .product .preco {
    color: var(--dark-10);
    font-size: 16px;
    font-family: 'Space Grotesk', sans-serif;
}