* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

    font-family: 'Archivo', sans-serif;
}

:root {
    --brand-color: #7CA2F4;
    --dark-10: #121214;
    --dark-20: #F3F7FF;
    --dark-30: #FFFFFF;
}

/* HEADER */

header #frete {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 19px 0px;

    background: var(--dark-20);
}

header #frete p {
    color: var(--dark-10);

    font-size: 18px;
    font-weight: 500;
}

header .container {
    height: 400px;
    background: linear-gradient(0deg, rgba(18, 18, 20, 0.20) 0%, rgba(18, 18, 20, 0.20) 100%), url(./assets/images/jordan-background.png), lightgray 0px -77px / 100% 269.011%;

    background-repeat: no-repeat;
}

header .container #slogan {
    display: flex;
    flex-direction: column;
    gap: 40px;

    padding: 95px 465px 95px 352px;

    color: var(--dark-30);
}

header .container #logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

header .container #logo img {
    width: 42px;
    height: 42px;
}

header .container #logo h1 {
    font-size: 24px;
    font-weight: 500;
}

header .container #descricao {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

header .container #descricao h2 {
    font-size: 32px;
}

header .container #descricao p {
    font-size: 24px;
    font-weight: 400;
    line-height: 140%;
}

/* MAIN */

main {
    display: flex;
    flex-direction: column;
    padding: 80px 0px;
    gap: 72px;
    align-items: center;

    margin: 0px 142px;
}

main #main-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;

    padding: 0px 311.5px;
}

main #main-header h2 {
    font-size: 24px;
    color: var(--dark-10);
    font-weight: 600;
}

main #main-header p {
    font-size: 18px;
    color: var(--dark-10);
    font-weight: 400;
    text-align: center;
}

main #items {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    gap: 40px 32px;
}

main #items .product {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

main .product .image {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 320px;
    height: 200px;

    background: var(--dark-20);
    transition: transform .5s;

    cursor: pointer;
}

main .product .image:hover {
    transform: scale(1.1);
}

main .product .detalhes {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

main .product .detalhes .titulo {
    font-size: 14px;
}

main .product .detalhes .modelo {
    color: var(--brand-color);
    font-size: 12px;
    font-weight: 500;
}

main .product .preco {
    color: var(--dark-10);
    font-size: 16px;
    font-family: 'Space Grotesk', sans-serif;
}

/* TABLET */

@media (max-width: 768px) {
    header .container {
        height: 350px;
        background: linear-gradient(0deg, rgba(18, 18, 20, 0.20) 0%, rgba(18, 18, 20, 0.20) 100%), url(./assets/images/jordan-background-tablet.png), lightgray 50%;
        background-size: cover;
        background-repeat: no-repeat;
    }

    header .container #slogan {
        padding: 99px 340px 149px 32px;
    }

    header .container #logo h1 {
        font-size: 18px;
    }

    header .container #logo img {
        width: 32px;
        height: 32px;
    }

    header .container #descricao {
        gap: 12px;
    }

    header .container #descricao h2 {
        font-size: 24px;
    }

    header .container #descricao p {
        font-size: 18px;
    }

    main {
        margin: 0px 32px;
        padding: 56px 0px;
        gap: 40px;
    }

    main #main-header {
        gap: 12px;
        padding: 56px 92px 0px;
    }

    main #main-header p {
        font-size: 16px;
    }
}

@media (max-width: 425px) {
    header #frete p {
        font-size: 14px;
    }

    header .container {
        height: 350px;
        background: linear-gradient(0deg, rgba(18, 18, 20, 0.20) 0%, rgba(18, 18, 20, 0.20) 100%), url(./assets/images/jordan-background-mobile.png), lightgray 50%;
        background-size: cover;
        background-repeat: no-repeat;
    }

    header .container #slogan {
        padding: 91px 24px 0px 45px;
    }

    header .container #descricao p {
        font-size: 16px;
    }
}